@model SmartFactory_MinProject.Models.Codeboard

@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>
<style>
    ul.comment-list li {
        border-bottom: 1px solid #ccc;
        padding: 15px 0;
    }

    .mode-toggle-button {
        position: absolute;
        top: 5px;
        right: 5px;
        background-color: black;
        color: white;
        padding: 5px 10px;
        cursor: pointer;
    }
</style>

<h1>Details</h1>

<div>
    <div style="float:right">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-outline-success">Edit</a>
        <a asp-action="Index" class="btn btn-outline-dark">Cancel</a>

    </div>
    <h4 class="float:left;">Codeboard</h4>
    <hr />
</div>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <code id="" href="/css/dracula.css"></code>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Model.Date.ToString("yyyy-MM-dd")
        </dd>
        <dt class="col-sm-2">
            Code Contents
        </dt>
        <dd class="col-sm-10">
            <pre id="content">
                @Html.Raw(Model.Contents)
            </pre>
        </dd>
        
    </dl>

</div>

<div>
    <h3>Comment</h3>
    <form asp-action="AddComment" asp-route-id="@Model.Id" method="post">
        <div class="form-group">

            <textarea class="form-control" id="commentContent" name="Content" rows="3"></textarea>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<p></p>
@if (Model.Comments != null)
{
    <ul class="comment-list">
        @foreach (var comment in Model.Comments)
        {
            <li class="comment-item">
                <strong>@comment.Date.ToString("yyyy-MM-dd")</strong>
                <br>
                <a style="float:right" href="#" class="btn btn-outline-danger" onclick="deleteComment(@comment.Id)">Delete</a>
                @comment.Content 
            </li>
        }
    </ul>
}
else
{
    <p>댓글이 없습니다.</p>
}
<div class=topBtn onclick="window.scrollTo(0,0);" style="float:right;">TOP</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var contents = document.querySelectorAll("#content code");
        contents.forEach(function (block) {
            hljs.highlightBlock(block);
        });
    });

    function toggleDarkMode() {
        var contents = $("code[id*='codeBlock']");
        contents.toggleClass("dark");
        contents.children().toggleClass("dark");
    }

    function deleteComment(commentId) {
        if (confirm("댓글을 삭제하시겠습니까?")) {
            $.ajax({
                url: "@Url.Action("DeleteComment", "Home")",
                type: "POST",
                data: { commentId: commentId }, 
                success: function () {
                    location.reload();
                }
            });
        }
    }
</script>

<button class="mode-toggle-button" onclick="toggleDarkMode()">모드 전환</button>
