@model IEnumerable<SmartFactory_MinProject.Models.Codeboard>

@{
	ViewData["Title"] = "Index";
	var sortedModel = Model.OrderByDescending(item => item.Id);
	var today = DateTime.Now.Date;
	var tenDaysAgo = today.AddDays(-10);

	var recentData = Model.Where(item => item.Date >= tenDaysAgo && item.Date <= today).ToList();

	var recentDates = recentData.Select(item => item.Date).Distinct().OrderBy(date => date).Take(10).ToList();

	var groupedData = recentData
							.GroupBy(item => item.Name) 
							.OrderBy(group => group.Key) 
							.ToList();

	var labels = recentDates.Select(date => date.ToString("yyyy-MM-dd")).ToArray();
	var datasets = new List<object>();

	foreach (var group in groupedData)
	{
		var data = recentDates.Select(date => group.Count(item => item.Date == date)).ToArray();
		var Color = $"rgba({new Random().Next(0, 255)}, {new Random().Next(0, 255)}, {new Random().Next(0, 255)}, 0.2)";

		datasets.Add(new
		{
			label = group.Key, 
			data = data, 
			backgroundColor = Color,
			borderColor = Color,
			borderWidth = 1,
			stack = "Stack 1"
		});
	}
}

<a asp-controller="Home" class="btn btn-outline-danger" style="float:right" asp-action="Logout">Logout</a><br /><br />
<title>@ViewData["Title"]</title>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>

<div>
	<h1>Post Chart</h1>

	<canvas id="myChart" width="400" height="50"></canvas>

	<script>
		var chartArea = document.getElementById('myChart').getContext('2d');
		var myChart = new Chart(chartArea, {
			type: 'bar',
			data: {
				labels: @Html.Raw(Json.Serialize(labels)),
				datasets: @Html.Raw(Json.Serialize(datasets)) 
															},
			options: {
				scales: {
					y: {
						beginAtZero: true
					}
				},
				plugins: {
					legend: {
						display: true,
						position: 'top', 
						labels: {
							font: {
								size: 16 
							}
						}
					}
				}
			}
		});
</script>

<br /><hr />

<!---검색창---->
<form asp-controller="Home" asp-action="Index" method="get">
	<div class="row justify-content-between">
		<div class="col-sm-auto">
			<a asp-action="Create" class="btn btn-outline-success">Create New</a>
		</div>
		<div class="col-sm-4">
			<div class="input-group">
				<input type="text" class="form-control" name="searchTerm" placeholder="Insert search keyword" />
				<button type="submit" class="btn btn-primary">Search</button>
			</div>
		</div>
	</div>
</form><br />


<table class="table">
	<thead>
		<tr>
			<th>Title</th>
			<th>Name</th>
			<th>Date</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in sortedModel)
		{
			<tr>
				<td>@item.Title</td>
				<td>@item.Name</td>
				<td>@item.Date.ToString("yyyy-MM-dd")</td>
				<td style="text-align: right;">
									<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-success">Edit</a> |
								<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-secondary">Details</a> |
					<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a>
				</td>
			</tr>
		}
		</tbody>
</table>
</div>
<div class=topBtn onclick="window.scrollTo(0,0);" style="float:right;">TOP</div>